body {
  background-color: lightseagreen;
  background-color: lightseagreen;
  background-color: lightseagreen;
  background-color: lightseagreen;
  background-color: lightseagreen;
  background-color: lightseagreen;
  background-color: lightseagreen;
  background-color: lightseagreen;
  background-color: lightseagreen;
  background-color: lightseagreen;
}
